<h1>List of Users</h1>
 
<table>
  <tr>
    <th>Name</th> 
    <th>Password</th>       
  </tr>
    <% @users.each do |article| %>
    <tr>
      <td><%=article.username%></td>
       <td><%=article.password_hah%></td>
    </tr>
  <%end %>